apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-auth
  namespace: auth

spec:
  replicas: 1

  selector:
    matchLabels:
      app: redis

  template:
    metadata:
      labels:
        app: redis

    spec:
      containers:
        - name: redis
          image: redis:7.4-alpine

          ports:
            - containerPort: 6379

          args:
            - "--bind"
            - "0.0.0.0"
            - "--protected-mode"
            - "no"
            - "--requirepass"
            - "changeme123"

          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 5

          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 20

          volumeMounts:
            - name: redis-data
              mountPath: /data

      volumes:
        - name: redis-data
          emptyDir: {}